.nav-bar{
    border-bottom: 2px black solid;
}
.title{
    width: 25%;
}
.title img{
    width: 20%;
}
.title h3{
    color: #676D79;
    font-weight: lighter;
}
.userImage{
    overflow: hidden;
}
.card img{
    width: 60%;
}
.userName{
    color: #676D79;
}

.btn{
     background-color: #406AB3;
     color: aliceblue;
}
.loader {
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation-name: mulShdSpin;
    animation: mulShdSpin 1.1s infinite ease;
    transform: translateZ(0);
  }
  @keyframes mulShdSpin {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #406AB3, 1.8em -1.8em 0 0em rgba(64,106,179, 0.2), 2.5em 0em 0 0em rgba(64,106,179, 0.2), 1.75em 1.75em 0 0em rgba(64,106,179, 0.2), 0em 2.5em 0 0em rgba(64,106,179, 0.2), -1.8em 1.8em 0 0em rgba(64,106,179, 0.2), -2.6em 0em 0 0em rgba(64,106,179, 0.5), -1.8em -1.8em 0 0em rgba(64,106,179, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(64,106,179, 0.7), 1.8em -1.8em 0 0em #406AB3, 2.5em 0em 0 0em rgba(64,106,179, 0.2), 1.75em 1.75em 0 0em rgba(64,106,179, 0.2), 0em 2.5em 0 0em rgba(64,106,179, 0.2), -1.8em 1.8em 0 0em rgba(64,106,179, 0.2), -2.6em 0em 0 0em rgba(64,106,179, 0.2), -1.8em -1.8em 0 0em rgba(64,106,179, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(64,106,179, 0.5), 1.8em -1.8em 0 0em rgba(64,106,179, 0.7), 2.5em 0em 0 0em #406AB3, 1.75em 1.75em 0 0em rgba(64,106,179, 0.2), 0em 2.5em 0 0em rgba(64,106,179, 0.2), -1.8em 1.8em 0 0em rgba(64,106,179, 0.2), -2.6em 0em 0 0em rgba(64,106,179, 0.2), -1.8em -1.8em 0 0em rgba(64,106,179, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(64,106,179, 0.2), 1.8em -1.8em 0 0em rgba(64,106,179, 0.5), 2.5em 0em 0 0em rgba(64,106,179, 0.7), 1.75em 1.75em 0 0em #406AB3, 0em 2.5em 0 0em rgba(64,106,179, 0.2), -1.8em 1.8em 0 0em rgba(64,106,179, 0.2), -2.6em 0em 0 0em rgba(64,106,179, 0.2), -1.8em -1.8em 0 0em rgba(64,106,179, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(64,106,179, 0.2), 1.8em -1.8em 0 0em rgba(64,106,179, 0.2), 2.5em 0em 0 0em rgba(64,106,179, 0.5), 1.75em 1.75em 0 0em rgba(64,106,179, 0.7), 0em 2.5em 0 0em #406AB3, -1.8em 1.8em 0 0em rgba(64,106,179, 0.2), -2.6em 0em 0 0em rgba(64,106,179, 0.2), -1.8em -1.8em 0 0em rgba(64,106,179, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(64,106,179, 0.2), 1.8em -1.8em 0 0em rgba(64,106,179, 0.2), 2.5em 0em 0 0em rgba(64,106,179, 0.2), 1.75em 1.75em 0 0em rgba(64,106,179, 0.5), 0em 2.5em 0 0em rgba(64,106,179, 0.7), -1.8em 1.8em 0 0em #406AB3, -2.6em 0em 0 0em rgba(64,106,179, 0.2), -1.8em -1.8em 0 0em rgba(64,106,179, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(64,106,179, 0.2), 1.8em -1.8em 0 0em rgba(64,106,179, 0.2), 2.5em 0em 0 0em rgba(64,106,179, 0.2), 1.75em 1.75em 0 0em rgba(64,106,179, 0.2), 0em 2.5em 0 0em rgba(64,106,179, 0.5), -1.8em 1.8em 0 0em rgba(64,106,179, 0.7), -2.6em 0em 0 0em #406AB3, -1.8em -1.8em 0 0em rgba(64,106,179, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(64,106,179, 0.2), 1.8em -1.8em 0 0em rgba(64,106,179, 0.2), 2.5em 0em 0 0em rgba(64,106,179, 0.2), 1.75em 1.75em 0 0em rgba(64,106,179, 0.2), 0em 2.5em 0 0em rgba(64,106,179, 0.2), -1.8em 1.8em 0 0em rgba(64,106,179, 0.5), -2.6em 0em 0 0em rgba(64,106,179, 0.7), -1.8em -1.8em 0 0em #406AB3;
    }
  }
  .loading{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100000;
   background-color: rgba(64,106,179, 0.5);
  }
