<div class="container mt-4">
    <div class="nav-bar  d-flex justify-content-between mb-5">
     <div class="title d-flex">
        <img class="logo pb-3 me-2" src="assets/imgs/msg-removebg-preview.png" alt="">
        <h3 class="mt-2">TRIAL PROJECT</h3>
  </div>
     <div class="icons d-flex justify-content-center align-items-center">
      <i class="fa-brands fa-facebook-f me-3" style="color: #676D79;"></i>
      <i class="fa-brands fa-twitter me-3" style="color: #676D79;"></i>
      <i class="fa-brands fa-linkedin-in me-3" style="color: #676D79;"></i>
      <i class="fa-brands fa-instagram" style="color: #676D79;"></i>
     </div>
    </div> 
    <div class="info mb-5">
        <div class="row pt-5 ">
            <div *ngIf="isloading" class=" loading position-absolute d-flex justify-content-center align-items-center">
                <span class="loader">....</span>
              </div>
            <div class="col-md-6 pt-3 pb-5 card mx-auto">
                <div class="userImage d-flex justify-content-center" >
                    <img [src]=userData.avatar [alt]=userData.first_name class="rounded-circle">
                </div>
                <div class="userName text-center d-flex flex-column justify-content-center mt-3">
                    <h4>
                        {{userData.first_name}} {{userData.last_name}}
                    </h4>
                    <p>Email: {{userData.email}}</p>
                    <p>ID: {{userData.id}}</p>
                </div>
                <button class="btn w-25" routerLink="/home"><i class="fa-solid fa-arrow-left-long"></i> Back</button>
            </div>
        </div>
    </div>
</div>